
<div class="container">
	<div class="col-md-12">
		<h2 class="faq-hd">FAQ'S</h2>
	</div>
</div>
<div class="container">
	<div class="main-div-bx">
		<div class="col-md-6">
			<a class="" role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
			  What is VestedWorld? 
			</a> 
		</div>	
		<div class="col-md-6">
			<div class="collapse" id="collapseExample">
			  <div class="rt-content">
			    <p> VestedWorld is an on online venture capital fund that invests in the most promising, early stage companies with the greatest growth potential in emerging markets. We connect our VestedAngels—less ceremoniously referred to as accredited investors by the SEC—with highly vetted opportunities to earn competitive, market rate returns while making real economic and social impact in developing countries.
			    </p>
			  </div>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>

	<div class="main-div-bx">
		<div class="col-md-6">
			<a class="" role="button" data-toggle="collapse" href="#collapseExample1" aria-expanded="false" aria-controls="collapseExample">
			  Is VestedWorld a charity?  
			</a> 
		</div>	
		<div class="col-md-6">
			<div class="collapse" id="collapseExample1">
			  <div class="rt-content">
			    <p> No, but we are fervently committed to social equity and economic progress worldwide. As an impact investment fund, we direct capital into early stage companies in emerging markets, companies that create jobs and provide living wages. In so doing, we help spur sustainable economic development in these countries while earning significant financial returns.
			    </p>
			  </div>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>

	<div class="main-div-bx">
		<div class="col-md-6">
			<a class="" role="button" data-toggle="collapse" href="#collapseExample2" aria-expanded="false" aria-controls="collapseExample">
			  Why emerging markets?   
			</a> 
		</div>	
		<div class="col-md-6">
			<div class="collapse" id="collapseExample2">
			  <div class="rt-content">
			    <p> The International Monetary Fund projects that emerging market economies will grow 4.7% in 2016, nearly twice the growth rate of the U.S. However, early stage companies in these regions lack reliable access to the capital they need to grow. We aim to close that gap.
				Investing in emerging markets has a multiplier effect, creating jobs, stabilizing communities and boosting economies. Not only are they lucrative investment opportunities, small and medium sized enterprises are poised to lead unprecedented economic and social vitality in the developing world.
			    </p>
			  </div>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>

	<div class="main-div-bx">
		<div class="col-md-6">
			<a class="" role="button" data-toggle="collapse" href="#collapseExample3" aria-expanded="false" aria-controls="collapseExample">
			  Does VestedWorld expect lower returns because it seeks to have a social impact?    
			</a> 
		</div>	
		<div class="col-md-6">
			<div class="collapse" id="collapseExample3">
			  <div class="rt-content">
			    <p> Not at all. We meticulously vet each company in our portfolio, striving to achieve both competitive returns for VestedAngels and measurable social impact in the countries where we invest.
			    </p>
			  </div>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>

	<div class="main-div-bx">
		<div class="col-md-6">
			<a class="" role="button" data-toggle="collapse" href="#collapseExample4" aria-expanded="false" aria-controls="collapseExample">
			  What kind of companies does VestedWorld invest in?
   
			</a> 
		</div>	
		<div class="col-md-6">
			<div class="collapse" id="collapseExample4">
			  <div class="rt-content">
			    <p> We target early stage companies that provide living wage jobs in high growth industries (e.g., financial services, agribusiness, manufacturing, consumer products and services, media and technology). Currently we’re investing in companies in sub-Saharan Africa, but we plan to explore opportunities in Asia and Latin America as well.
			    </p>
			  </div>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>


	<div class="main-div-bx">
		<div class="col-md-6">
			<a class="" role="button" data-toggle="collapse" href="#collapseExample5" aria-expanded="false" aria-controls="collapseExample">
			  Who are VestedAngels and VestedAdvisors? 
   
			</a> 
		</div>	
		<div class="col-md-6">
			<div class="collapse" id="collapseExample5">
			  <div class="rt-content">
			    <p> VestedAngels are accredited investors who do well by doing good. After joining VestedWorld’s online platform, they can invest in early stage companies in emerging markets to diversify their portfolios, maximize returns and spur economic growth in developing countries.

				VestedAdvisors are experienced professionals who share their insights and expertise with entrepreneurs in emerging markets in order to help their companies succeed. In exchange, they’re eligible for incentive compensation that can grow alongside the companies they advise.
			    </p>
			  </div>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>


	<div class="main-div-bx">
		<div class="col-md-6">
			<a class="" role="button" data-toggle="collapse" href="#collapseExample6" aria-expanded="false" aria-controls="collapseExample">
			  Can I become a VestedAngel if I am a non-accredited investor? 
   
			</a> 
		</div>	
		<div class="col-md-6">
			<div class="collapse" id="collapseExample6">
			  <div class="rt-content">
			    <p> No. In compliance with regulatory constraints, only accredited investors can invest in deals on our platform. We do however invite non-accredited investors who are interested in our mission and model to join us as a VestedAdvisor.
			    </p>
			  </div>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>

	<div class="main-div-bx">
		<div class="col-md-6">
			<a class="" role="button" data-toggle="collapse" href="#collapseExample7" aria-expanded="false" aria-controls="collapseExample">
			  How does the investment process work?  
   
			</a> 
		</div>	
		<div class="col-md-6">
			<div class="collapse" id="collapseExample7">
			  <div class="rt-content">
			    <p> 
			    Much like a traditional venture capital fund, VestedWorld:

			    Actively sources investment opportunities in our target markets and industries to build a deal pipeline
			    Conducts thorough analysis and on-the-ground due diligence of the proposed investee and prepares screening and investment memos
			    Presents memos to our Investment Committee, which recommends which proposed investments merit further due diligence and provides final approval and guidelines for any investment

			Our model is unique, in that once an investment is approved, we:

			    Establish a special purpose vehicle that we use to invest our own capital into the investee
			    Post the investment to our online platform, allowing VestedAngels to review all prepared materials, including our analysis and source materials on the investee, and ask any questions related to the deal
			    Invite VestedAngels to acquire up to 90% of our stake in the special purpose vehicle, which owns a security interest in the investee

			Once the investment period closes, our management company, VW Management Co., LLC:

			    Monitors and manages the investment on behalf of VestedWorld and participating VestedAngels
			    Provides strategic, operational and financial guidance to the portfolio company’s management team, enlisting VestedAngels and/or VestedAdvisors to contribute their expertise as necessary

			    </p>
			  </div>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>

	<div class="main-div-bx">
		<div class="col-md-6">
			<a class="" role="button" data-toggle="collapse" href="#collapseExample8" aria-expanded="false" aria-controls="collapseExample">
			  How do you vet companies for investment? 
   
			</a> 
		</div>	
		<div class="col-md-6">
			<div class="collapse" id="collapseExample8">
			  <div class="rt-content">
			    <p>
			    	Every company on our platform goes through a rigorous screening and due diligence process. Our investment criteria gauge the management team’s ability to execute their strategic plan and oversee the company’s sustainable growth. We carefully assess the company’s product and/or services, historical and projected financials, legal documents, competitive landscape, potential risks and exit opportunities. 
			    </p>
			  </div>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>


	<div class="main-div-bx">
		<div class="col-md-6">
			<a class="" role="button" data-toggle="collapse" href="#collapseExample9" aria-expanded="false" aria-controls="collapseExample">
			  Why does VestedWorld use a syndication model for investment?  
   
			</a> 
		</div>	
		<div class="col-md-6">
			<div class="collapse" id="collapseExample9">
			  <div class="rt-content">
			    <p>
			    	We are extremely confident in every company in our portfolio, and we want our VestedAngels to be as well. By first investing our own capital and then offering deals to investors, we’re able to:

				    Allow more people to leverage their capital for economic gain and social impact
				    Leverage our investment to mitigate risk and ease investors’ concerns so we can deploy even more capital, maximizing the inflow of investments into emerging markets
				    Ensure the sustainability and profitability of our business model
			    </p>
			  </div>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>


	<div class="main-div-bx">
		<div class="col-md-6">
			<a class="" role="button" data-toggle="collapse" href="#collapseExample10" aria-expanded="false" aria-controls="collapseExample">
			  How does VestedWorld mitigate risk?   
   
			</a> 
		</div>	
		<div class="col-md-6">
			<div class="collapse" id="collapseExample10">
			  <div class="rt-content">
			    <p>
			    	Risk is inherent to early stage investing and “crowdfunding,” and emerging markets carry more risk than others. But we do not ask VestedAngels to take risks that we’re not comfortable with taking ourselves, which is why we invest our own capital into each deal first.

					We also address risk by:

					    Rigorously evaluating every investment opportunity
					    Assessing political, economic, conflict and fraud risks prior to investing
					    Ensuring that each deal will be fully funded so that entrepreneurs have sufficient capital to grow their business
					    Providing comprehensive post-investment support to our portfolio companies
					    Returning all invested capital to VestedAngels before we earn any carried interest
					    Tracking economic return and social impact

					Of course, you should not invest in emerging markets if you cannot afford to do so or are uncomfortable with the idea that you may lose money.
			    </p>
			  </div>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
	

	<div class="main-div-bx">
		<div class="col-md-6">
			<a class="" role="button" data-toggle="collapse" href="#collapseExample11" aria-expanded="false" aria-controls="collapseExample">
			  Is my investment insured against fraud?    
			</a> 
		</div>	
		<div class="col-md-6">
			<div class="collapse" id="collapseExample11">
			  <div class="rt-content">
			    <p>
			    	No. All investments are subject to risk, including fraud. We conduct scrupulous due diligence and actively monitor each investment to diminish the risk of fraud and maintain the high level of trust VestedAngels place in our team.
			    </p>
			  </div>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
	

	<div class="main-div-bx">
		<div class="col-md-6">
			<a class="" role="button" data-toggle="collapse" href="#collapseExample12" aria-expanded="false" aria-controls="collapseExample">
			  Is my investment insured against fraud?    
			</a> 
		</div>	
		<div class="col-md-6">
			<div class="collapse" id="collapseExample12">
			  <div class="rt-content">
			    <p>
			    	No. All investments are subject to risk, including fraud. We conduct scrupulous due diligence and actively monitor each investment to diminish the risk of fraud and maintain the high level of trust VestedAngels place in our team.
			    </p>
			  </div>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>


	<div class="main-div-bx">
		<div class="col-md-6">
			<a class="" role="button" data-toggle="collapse" href="#collapseExample13" aria-expanded="false" aria-controls="collapseExample">
			  What is the JOBS Act and how does it impact VestedWorld?     
			</a> 
		</div>	
		<div class="col-md-6">
			<div class="collapse" id="collapseExample13">
			  <div class="rt-content">
			    <p>
			    	The Jumpstart Our Business Startups (JOBS) Act, signed into law in 2012, was created to relax the regulations that govern access to capital for early stage companies.

				    Title I makes it easier for fast growing companies to go public by reducing the costs and provisions required to do so.
				    Title II allows for the use of public advertising to sell private securities to “accredited investors.”
				    Title III legalizes the purchase and sale of security interests in private companies through crowdfunding platforms, allowing non-accredited investors to invest in deals featured on such platforms.

				As an online venture capital fund, VestedWorld is able to publicly advertise our private investment deals for accredited investors, as permitted under Title II of the JOBS Act.

				However, we do not allow non-accredited investors to become VestedAngels. Under the proposed rules, non-U.S. companies and special purpose vehicles are not allowed to raise money from non-accredited investors under Title III of the JOBS Act.
			    </p>
			  </div>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>


	<div class="main-div-bx">
		<div class="col-md-6">
			<a class="" role="button" data-toggle="collapse" href="#collapseExample14" aria-expanded="false" aria-controls="collapseExample">
			  What are the fees associated with each investment?      
			</a> 
		</div>	
		<div class="col-md-6">
			<div class="collapse" id="collapseExample14">
			  <div class="rt-content">
			    <p>
			    	We charge three fees:

				    Management Fee

				    This covers the costs of having VW Management Co. monitor and manage the investment on behalf of VestedAngels.
				    Administrative Fee

				    This covers legal expenses and accounting costs incurred in connection with setting up the special purpose vehicle, preparing deal documents and annual tax returns for each VestedAngel, and filing annual reports, taxes and required securities filings for the special purpose vehicle.
				    Carried Interest

				    VestedWorld collects a percentage of the profit each VestedAngel earns on each investment. Other than the distributions we receive from our own investments, carried interest is our primary source of revenue. It is an additional incentive for us to select only the most promising deals with the highest potential for successful exits.
			    </p>
			  </div>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>












</div>





<style type="text/css">	
.main-div-bx {
	border-top:1px solid #ddd;
	border-bottom:1px solid #ddd;
	padding-top: 20px;
	padding-bottom: 20px;

}
.main-div-bx a {
	font-size: 30px;
	color:#191EFF;
	text-decoration: underline;;
}
.main-div-bx a:hover {
	font-size: 30px;
	color:#191EFF;
	text-decoration: underline;;
}
h2.faq-hd {
	font-size:36px;
	color:#191EFF;
}
.rt-content p {
    font-size: 18px;
    line-height: 30px;
}
</style>