<section class="text-left box-typical-dashboard">
  <div class="box-typical-body">
      <div class="contact-row-list">
          <article class="contact-row">
              <h5 class="tiny-header">FOUNDERS</h5>
              <div class="user-card-row">
                  <div class="tbl-row">
                      <div class="tbl-cell tbl-cell-photo">
                          <a href="#">
                              <img src="http://marnusbroodryk.com/wp-content/uploads/2013/02/Vinny_Lingham.jpg" alt="">
                          </a>
                      </div>
                      <div class="tbl-cell">
                          <p class="user-card-row-name"><a href="#">Tim Collins</a></p>
                          <p class="user-card-row-mail"><a href="#">timcolins@mail.com</a></p>
                      </div>
                  </div>
              </div>
          </article>
          <article class="contact-row">
              <div class="user-card-row">
                  <div class="tbl-row">
                      <div class="tbl-cell tbl-cell-photo">
                          <a href="#">
                              <img src="http://marnusbroodryk.com/wp-content/uploads/2013/02/Ludwick_Marishane.jpg" alt="">
                          </a>
                      </div>
                      <div class="tbl-cell">
                          <p class="user-card-row-name"><a href="#">Maggy Smith</a></p>
                          <p class="user-card-row-mail"><a href="#">maggysmith@mail.com</a></p>
                      </div>
                  </div>
              </div>
          </article>
          <article class="contact-row">
              <div class="user-card-row">
                  <div class="tbl-row">
                      <div class="tbl-cell tbl-cell-photo">
                          <a href="#">
                              <img src="https://upload.wikimedia.org/wikipedia/commons/6/60/Masaba_Yunus_at_the_Entrepreneurs_meet_and_greet_2014.jpg" alt="">
                          </a>
                      </div>
                      <div class="tbl-cell">
                          <p class="user-card-row-name"><a href="#">Molly Bridjet</a></p>
                          <p class="user-card-row-mail"><a href="#">mollybr@mail.com</a></p>
                      </div>
                  </div>
              </div>
          </article>
      </div>
  </div><!--.box-typical-body-->
</section><!--.box-typical-dashboard-->