<p>
Thanks for signing up <%= @user.name %>, <br />
</p>

<p>
  We look forward to learning more about how VestedWorld can help you achieve your goals as an [Investor or Entrepreneur]. Please complete your profile as this will enable us match you with the [Company]/[VestedAngels]. Do let us know if you have any questions as you continue the process.
</p>
