<div class="profile-header-photo gradient reduced-height" style="background: url(http://vestedworld.com/app/uploads/2016/03/3-1024x529.jpg);">
  <div class="profile-header-photo-in">
    <div class="tbl-cell">
      <div class="info-block">
        <div class="container">
          <div class="row p-y-lg">
            <%#= f.submit class: "btn btn-rounded btn-block btn-warning sign-up " %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div><!--.profile-header-photo-->
