<div class="bgcolor-dark-grey p-a-lg text-left show-nav-toc">
	<h5 class="tiny-header no-margin">TABLE OF CONTENTS</h5>
	<hr class="m-a-0"/>
	<ul class="m-y">
	  <li>Introduction</li>
	  <ul class="sub-menu">
	    <li><a href="#intro" class="navigation-view">Professional Intro</a></li>
	    <li><a href="#photos" class="navigation-view">Profile Photos</a></li>
	    <li><a href="#contact" class="navigation-view">Contact Information</a></li>
	  </ul>
	  <li>Resume & Background</li>
	  <ul class="sub-menu">
	    <li><a href="#accomplishments" class="navigation-view">Professional Accomplishments</a></li>
	    <li><a href="#education" class="navigation-view">Educational Background</a></li>
	    <li><a href="#investments" class="navigation-view">Investment History</a></li>
	  </ul>
	  <li>Documents & Media</li>
	  <ul class="sub-menu">
	    <li><a href="#documents" class="navigation-view">Documents</a></li>
	    <li><a href="#media" class="navigation-view">Photos & Videos</a></li>
	  </ul>
	  <li>Social Media</li>
	  <ul class="sub-menu">
	    <li><a href="#social" class="navigation-view">Social Media</a></li>
	  </ul>
	</ul>
</div>