<section id="impact">
  <h6>economic, social and environmental impact</h6>
  

   <div class="row text-center">
    <div class="col-md-4">
      <h6>What we Like the Opportunity</h6>
      <%= image_tag("screenshots/screen-1.png", style: "width: 80%;") %>
    </div>
    <div class="col-md-4">
      <h6>Social and Environmental Impact</h6>
      <%= image_tag("screenshots/screen-2.png", style: "width: 80%;") %>
    </div>
    <div class="col-md-4">
      <h6>Market Overview</h6>
      <%= image_tag("screenshots/screen-3.png", style: "width: 80%;") %>
    </div>
  </div>
</section>
