<div id="nav-notices">
	<h5 class="bold m-b-0">Investment Legal Notices</h5>
  <p class="text-muted">Copy and paste legal or confidentality information here. complete a term sheet.</u></b></p>
  <br/>
	<label class="form-label">Legal Notices <small>The company's legal notices.</small></label>
	<textarea class="form-control" rows="12" placeholder="<%=LegalNotice.first.try(:investment_notice)%>"></textarea>
</div>