<section id="terms">
  <h6>Investment Terms</h6>

  <h5>Investment Term Sheet</h5>
  <p class="text-muted">
    [term sheet notice]
  </p>


  <h3></h3>
  <table class="table table-striped">
    <thead>
      <th width="35%">Term</th>
      <th>Description</th>
      </thead>
    <tbody>
      <tr>
        <td>Security:</td>
        <td>Convertible Note</td>
      </tr>
      <tr>
        <td>Automatic Conversion:</td>
        <td> Qualified Financing of $1,000,000+</td>
      </tr>
      <tr>
        <td>Interest Rate:</td>
        <td>5% per annum (7% post-maturity)</td>
      </tr>
      <tr>
        <td>Interest Payments:</td>
        <td>Accrues to principle</td>
      </tr>
      <tr>
        <td>Maturity Date:</td>
        <td>June 14, 2018</td>
      </tr>
      <tr>
        <td>Conversion Discount:</td>
        <td>20%</td>
      </tr>

      <tr>
        <td>Conversion Cap:</td>
        <td>$4,000,000</td>
      </tr>
      <tr>
        <td>Optional Conversion:</td>
        <td>Maturity, Election</td>
      </tr>
      <tr>
        <td>Redemption Option:</td>
        <td>None</td>
      </tr>
      <tr>
        <td>Other:</td>
        <td>Converts into Preferred Stock on the same terms as other purchasers; Conversion discount shall not exceed 30% under Conversion Cap Fund Terms
        </td>
      </tr>
      <tr>
        <td>Min. Investment for VestedAngels:</td>
        <td>$1,00011
        </td>
      </tr>
      <tr>
        <td>Min. Raise through VestedAngels:</td>
        <td>$10,000
        </td>
      </tr>
      <tr>
        <td>Max Raise through VestedAngels:</td>
        <td>$135,000
        </td>
      </tr>
      <tr>
        <td>Maximum Fund Investors:</td>
        <td>45
        </td>
      </tr>
      <tr>
        <td>Management Fee:</td>
        <td>45
        </td>
      </tr>
      <tr>
        <td>Maximum Fund Investors:</td>
        <td>2.5% per year12</td>
      </tr>
      <tr>
        <td>Carried Interest:</td>
        <td>20%13</td>
      </tr>
      <tr>
        <td>Administrative Cost:</td>
        <td>Pro-rata share of actual expenses incurred14</td>
      </tr>
      <tr>
        <td>Target Closing Date:</td>
        <td>September 9, 2016</td>
      </tr>
    </tbody>
    <tfooter></tfooter> 
  </table>
</section>
