<button type="button" class="avatar-preview">
  <% if f.object.logo.present? %>
    <%= image_tag f.object.logo.url,:class => "image-responsive p-a-0", :id => "output" %>
  <% else %>
    <%= image_tag("bg.jpeg", :class => "image-responsive p-a-0", :id => "output")%>
  <% end %>  
  
</button>

<p><%= f.file_field :logo, :onchange=>"loadFile(event)" %></p>
<script>
  var loadFile = function(event) {
    var output = document.getElementById('output');
    output.src = URL.createObjectURL(event.target.files[0]);
  };
</script>
