<div class="page-content">
	<div class="profile-header-photo" style="background: url(http://www.mobiusmotors.com/stories/images/banner_benson.jpg);">
		<div class="profile-header-photo-in">
			<div class="tbl-cell">
				<div class="info-block">
					<div class="container">
						<div class="row">
							<div class="col-xl-9 col-xl-offset-3 col-lg-8 col-lg-offset-4 col-md-offset-0">
								<div class="tbl info-tbl">
									<div class="tbl-row">
										<div class="tbl-cell">
											<p class="title">Mobius Motors</p>
											<p>Automotive Manufacturing</p>
										</div>
										<div class="tbl-cell tbl-cell-stat">
											<div class="inline-block">
												<p class="title">23К</p>
												<p>Followers</p>
											</div>
										</div>
										<div class="tbl-cell tbl-cell-stat">
											<div class="inline-block">
												<p class="title">938</p>
												<p>Photos</p>
											</div>
										</div>
										<div class="tbl-cell tbl-cell-stat">
											<div class="inline-block">
												<p class="title">18</p>
												<p>Videos</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<button type="button" class="change-cover">
			<i class="font-icon font-icon-picture-double"></i>
			Change cover
			<input type="file"/>
		</button>
	</div><!--.profile-header-photo-->

	<div class="container">
		<div class="row">
			<div class="col-xl-3 col-lg-4">
				<aside class="profile-side">
					<section class="box-typical profile-side-user">
						<button type="button" class="avatar-preview avatar-preview-128">
							<%= image_tag("http://nationsservice.wdfiles.com/local--files/file:mobiuslogo/mobiuslogo.jpg")%>
							<span class="update">
								<i class="font-icon font-icon-picture-double"></i>
								Update photo
							</span>
							<input type="file"/>
						</button>
						<button type="button" class="btn btn-rounded">Send a Message</button>
						<div class="btn-group">
							<button type="button"
							        class="btn btn-rounded btn-primary-outline dropdown-toggle"
							        data-toggle="dropdown"
							        aria-haspopup="true"
							        aria-expanded="false">
								Follow
							</button>
							<div class="dropdown-menu">
								<a class="dropdown-item" href="#"><span class="font-icon font-icon-money"></span>I want to invest</a>
								<a class="dropdown-item" href="#"><span class="font-icon font-icon-bookmark-o"></span>Send me updates</a>
								<a class="dropdown-item" href="#"><span class="font-icon font-icon-connectdevelop"></span>I want to work with this company</a>
								<a class="dropdown-item" href="#"><span class="font-icon font-icon-product-hunt"></span>I love the product</a>
								<a class="dropdown-item" href="#"><span class="font-icon font-icon-industry"></span>I like this industry</a>
							</div>
						</div>
						<div class="bottom-txt">Ranking: 15 out of 246</div>
					</section>

					<section class="box-typical profile-side-stat">
						<div class="tbl">
							<div class="tbl-row">
								<div class="tbl-cell">
									<span class="number">23,854</span>
									followers
								</div>
								<div class="tbl-cell">
									<span class="number">112</span>
									following
								</div>
							</div>
						</div>
					</section>

						<section class="box-typical">
						<header class="box-typical-header-sm bordered">Info</header>
						<div class="box-typical-inner">
							<p class="line-with-icon">
								<i class="font-icon font-icon-calend"></i>
								Joined 8 month ago
							</p>
							<p class="line-with-icon">
								<i class="font-icon font-icon-pin-2"></i>
								Nairobi, Kenya<br/>
								<small class="text-muted">Corporate Headquarters</small>
							</p>
							<p class="line-with-icon">
								<i class="font-icon font-icon-users-two"></i>
								Joel Jackson<br/> 
								<small class="text-muted">Founder and CEO</small>
							</p>
							<p class="line-with-icon">
								<i class="font-icon font-icon-earth"></i>
								<a href="http://www.mobiusmotors.com/">Company Website</a>
							</p>							
							<p class="line-with-icon">
								<i class="font-icon font-icon-case-3"></i>
								Automotive Manufacuturing
							</p>
						</div>
					</section>
				</aside><!--.profile-side-->
			</div>

			<div class="col-xl-9 col-lg-8">
				<section class="tabs-section">
					<div class="tabs-section-nav tabs-section-nav-left">
						<ul class="nav" role="tablist">
							<li class="nav-item">
								<a class="nav-link" href="#activity" role="tab" data-toggle="tab">
									<span class="nav-link-in">Corporate Activity</span>
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link active" href="#about" role="tab" data-toggle="tab">
									<span class="nav-link-in">About</span>
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#financials" role="tab" data-toggle="tab">
									<span class="nav-link-in">Financials</span>
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#team" role="tab" data-toggle="tab">
									<span class="nav-link-in">Team</span>
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#dataroom" role="tab" data-toggle="tab">
									<span class="nav-link-in">Data Room</span>
								</a>
							</li>
						</ul>
					</div><!--.tabs-section-nav-->

					<div class="tab-content no-styled profile-tabs">
						




						<!-- corporate activity -->
						<div role="tabpanel" class="tab-pane" id="activity">
							<form class="box-typical">
								<input type="text" class="write-something" placeholder="What`s on your mind"/>
								<div class="box-typical-footer">
									<div class="tbl">
										<div class="tbl-row">
											<div class="tbl-cell">
												<button type="button" class="btn-icon">
													<i class="font-icon font-icon-earth"></i>
												</button>
												<button type="button" class="btn-icon">
													<i class="font-icon font-icon-picture"></i>
												</button>
												<button type="button" class="btn-icon">
													<i class="font-icon font-icon-calend"></i>
												</button>
												<button type="button" class="btn-icon">
													<i class="font-icon font-icon-video-fill"></i>
												</button>
											</div>
											<div class="tbl-cell tbl-cell-action">
												<button type="submit" class="btn btn-rounded">Send</button>
											</div>
										</div>
									</div>
								</div>
							</form><!--.box-typical-->

							<article class="box-typical profile-post">
								<div class="profile-post-header">
									<div class="user-card-row">
										<div class="tbl-row">
											<div class="tbl-cell tbl-cell-photo">
												<a href="#">
													<img src="img/photo-64-2.jpg" alt="">
												</a>
											</div>
											<div class="tbl-cell">
												<div class="user-card-row-name"><a href="#">Tim Collins</a></div>
												<div class="color-blue-grey-lighter">3 days ago - 23 min read</div>
											</div>
										</div>
									</div>
									<a href="#" class="shared">
										<i class="font-icon font-icon-share"></i>
									</a>
								</div>
								<div class="profile-post-content">
									<p class="profile-post-content-note">Subminted a new post</p>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
								</div>
								<div class="box-typical-footer profile-post-meta">
									<a href="#" class="meta-item">
										<i class="font-icon font-icon-heart"></i>
										45 Like
									</a>
									<a href="#" class="meta-item">
										<i class="font-icon font-icon-comment"></i>
										18 Comment
									</a>
								</div>
								<div class="comment-rows-container hover-action scrollable-block">
									<div class="comment-row-item">
										<div class="avatar-preview avatar-preview-32">
											<a href="#">
												<img src="img/photo-64-2.jpg" alt="">
											</a>
										</div>
										<div class="tbl comment-row-item-header">
											<div class="tbl-row">
												<div class="tbl-cell tbl-cell-name">Eric Fox</div>
												<div class="tbl-cell tbl-cell-date">04.07.15, 20:02 PM</div>
											</div>
										</div>
										<div class="comment-row-item-content">
											<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
											<button type="button" class="comment-row-item-action edit">
												<i class="font-icon font-icon-pencil"></i>
											</button>
											<button type="button" class="comment-row-item-action del">
												<i class="font-icon font-icon-trash"></i>
											</button>
										</div>
									</div><!--.comment-row-item-->

									<div class="comment-row-item">
										<div class="avatar-preview avatar-preview-32">
											<a href="#">
												<img src="img/avatar-2-64.png" alt="">
											</a>
										</div>
										<div class="tbl comment-row-item-header">
											<div class="tbl-row">
												<div class="tbl-cell tbl-cell-name">Vasilisa</div>
												<div class="tbl-cell tbl-cell-date">04.07.15, 20:02 PM</div>
											</div>
										</div>
										<div class="comment-row-item-content">
											<p>Yes!</p>
											<button type="button" class="comment-row-item-action edit">
												<i class="font-icon font-icon-pencil"></i>
											</button>
											<button type="button" class="comment-row-item-action del">
												<i class="font-icon font-icon-trash"></i>
											</button>
										</div>
									</div><!--.comment-row-item-->

									<div class="comment-row-item">
										<div class="avatar-preview avatar-preview-32">
											<a href="#">
												<img src="img/avatar-2-64.png" alt="">
											</a>
										</div>
										<div class="tbl comment-row-item-header">
											<div class="tbl-row">
												<div class="tbl-cell tbl-cell-name">Vasilisa</div>
												<div class="tbl-cell tbl-cell-date">04.07.15, 20:02 PM</div>
											</div>
										</div>
										<div class="comment-row-item-content">
											<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy...</p>
											<button type="button" class="comment-row-item-action edit">
												<i class="font-icon font-icon-pencil"></i>
											</button>
											<button type="button" class="comment-row-item-action del">
												<i class="font-icon font-icon-trash"></i>
											</button>
											<div class="comment-row-item quote">
												<div class="avatar-preview avatar-preview-32">
													<a href="#">
														<img src="img/photo-64-2.jpg" alt="">
													</a>
												</div>
												<div class="tbl comment-row-item-header">
													<div class="tbl-row">
														<div class="tbl-cell tbl-cell-name">Adam Oliver</div>
														<div class="tbl-cell tbl-cell-date">04.07.15, 20:02 PM</div>
													</div>
												</div>
												<div class="comment-row-item-content">
													<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet...</p>
												</div>
											</div><!--.comment-row-item-->
										</div>
									</div><!--.comment-row-item-->

									<div class="comment-row-item">
										<div class="avatar-preview avatar-preview-32">
											<a href="#">
												<img src="img/photo-64-2.jpg" alt="">
											</a>
										</div>
										<div class="tbl comment-row-item-header">
											<div class="tbl-row">
												<div class="tbl-cell tbl-cell-name">Henry Olson</div>
												<div class="tbl-cell tbl-cell-date">04.07.15, 20:02 PM</div>
											</div>
										</div>
										<div class="comment-row-item-content">
											<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
											<button type="button" class="comment-row-item-action edit">
												<i class="font-icon font-icon-pencil"></i>
											</button>
											<button type="button" class="comment-row-item-action del">
												<i class="font-icon font-icon-trash"></i>
											</button>
										</div>
									</div><!--.comment-row-item-->

									<div class="comment-row-item">
										<div class="avatar-preview avatar-preview-32">
											<a href="#">
												<img src="img/photo-64-2.jpg" alt="">
											</a>
										</div>
										<div class="tbl comment-row-item-header">
											<div class="tbl-row">
												<div class="tbl-cell tbl-cell-name">Henry Olson</div>
												<div class="tbl-cell tbl-cell-date">04.07.15, 20:02 PM</div>
											</div>
										</div>
										<div class="comment-row-item-content">
											<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
											<button type="button" class="comment-row-item-action edit">
												<i class="font-icon font-icon-pencil"></i>
											</button>
											<button type="button" class="comment-row-item-action del">
												<i class="font-icon font-icon-trash"></i>
											</button>
										</div>
									</div><!--.comment-row-item-->

									<div class="comment-row-item">
										<div class="avatar-preview avatar-preview-32">
											<a href="#">
												<img src="img/avatar-2-64.png" alt="">
											</a>
										</div>
										<div class="tbl comment-row-item-header">
											<div class="tbl-row">
												<div class="tbl-cell tbl-cell-name">Vasilisa</div>
												<div class="tbl-cell tbl-cell-date">04.07.15, 20:02 PM</div>
											</div>
										</div>
										<div class="comment-row-item-content">
											<p>No!</p>
											<button type="button" class="comment-row-item-action edit">
												<i class="font-icon font-icon-pencil"></i>
											</button>
											<button type="button" class="comment-row-item-action del">
												<i class="font-icon font-icon-trash"></i>
											</button>
										</div>
									</div><!--.comment-row-item-->

									<div class="comment-row-item">
										<div class="avatar-preview avatar-preview-32">
											<a href="#">
												<img src="img/avatar-2-64.png" alt="">
											</a>
										</div>
										<div class="tbl comment-row-item-header">
											<div class="tbl-row">
												<div class="tbl-cell tbl-cell-name">Vasilisa</div>
												<div class="tbl-cell tbl-cell-date">04.07.15, 20:02 PM</div>
											</div>
										</div>
										<div class="comment-row-item-content">
											<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed...</p>
											<button type="button" class="comment-row-item-action edit">
												<i class="font-icon font-icon-pencil"></i>
											</button>
											<button type="button" class="comment-row-item-action del">
												<i class="font-icon font-icon-trash"></i>
											</button>
										</div>
									</div><!--.comment-row-item-->

									<div class="comment-row-item">
										<div class="avatar-preview avatar-preview-32">
											<a href="#">
												<img src="img/photo-64-2.jpg" alt="">
											</a>
										</div>
										<div class="tbl comment-row-item-header">
											<div class="tbl-row">
												<div class="tbl-cell tbl-cell-name">Roger Dunn</div>
												<div class="tbl-cell tbl-cell-date">04.07.15, 20:02 PM</div>
											</div>
										</div>
										<div class="comment-row-item-content">
											<p>Lorem ipsum dolor sit amet</p>
											<button type="button" class="comment-row-item-action edit">
												<i class="font-icon font-icon-pencil"></i>
											</button>
											<button type="button" class="comment-row-item-action del">
												<i class="font-icon font-icon-trash"></i>
											</button>
										</div>
									</div><!--.comment-row-item-->

									<div class="comment-row-item">
										<div class="avatar-preview avatar-preview-32">
											<a href="#">
												<img src="img/photo-64-2.jpg" alt="">
											</a>
										</div>
										<div class="tbl comment-row-item-header">
											<div class="tbl-row">
												<div class="tbl-cell tbl-cell-name">Lorem ipsum dolor sit amet</div>
												<div class="tbl-cell tbl-cell-date">04.07.15, 20:02 PM</div>
											</div>
										</div>
										<div class="comment-row-item-content">
											<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
											<button type="button" class="comment-row-item-action edit">
												<i class="font-icon font-icon-pencil"></i>
											</button>
											<button type="button" class="comment-row-item-action del">
												<i class="font-icon font-icon-trash"></i>
											</button>
										</div>
									</div><!--.comment-row-item-->

									<div class="comment-row-item">
										<div class="avatar-preview avatar-preview-32">
											<a href="#">
												<img src="img/avatar-2-64.png" alt="">
											</a>
										</div>
										<div class="tbl comment-row-item-header">
											<div class="tbl-row">
												<div class="tbl-cell tbl-cell-name">Vasilisa</div>
												<div class="tbl-cell tbl-cell-date">04.07.15, 20:02 PM</div>
											</div>
										</div>
										<div class="comment-row-item-content">
											<p>Yes!</p>
											<button type="button" class="comment-row-item-action edit">
												<i class="font-icon font-icon-pencil"></i>
											</button>
											<button type="button" class="comment-row-item-action del">
												<i class="font-icon font-icon-trash"></i>
											</button>
										</div>
									</div><!--.comment-row-item-->

									<div class="comment-row-item">
										<div class="avatar-preview avatar-preview-32">
											<a href="#">
												<img src="img/avatar-2-64.png" alt="">
											</a>
										</div>
										<div class="tbl comment-row-item-header">
											<div class="tbl-row">
												<div class="tbl-cell tbl-cell-name">Vasilisa</div>
												<div class="tbl-cell tbl-cell-date">04.07.15, 20:02 PM</div>
											</div>
										</div>
										<div class="comment-row-item-content">
											<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt</p>
											<button type="button" class="comment-row-item-action edit">
												<i class="font-icon font-icon-pencil"></i>
											</button>
											<button type="button" class="comment-row-item-action del">
												<i class="font-icon font-icon-trash"></i>
											</button>
										</div>
									</div><!--.comment-row-item-->

									<div class="comment-row-item">
										<div class="avatar-preview avatar-preview-32">
											<a href="#">
												<img src="img/photo-64-2.jpg" alt="">
											</a>
										</div>
										<div class="tbl comment-row-item-header">
											<div class="tbl-row">
												<div class="tbl-cell tbl-cell-name">Eric Fox</div>
												<div class="tbl-cell tbl-cell-date">04.07.15, 20:02 PM</div>
											</div>
										</div>
										<div class="comment-row-item-content">
											<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt</p>
											<button type="button" class="comment-row-item-action edit">
												<i class="font-icon font-icon-pencil"></i>
											</button>
											<button type="button" class="comment-row-item-action del">
												<i class="font-icon font-icon-trash"></i>
											</button>
										</div>
									</div><!--.comment-row-item-->
								</div><!--.comment-rows-container-->
								<input type="text" class="write-something" placeholder="Leave a comment"/>
								<div class="box-typical-footer">
									<div class="tbl">
										<div class="tbl-row">
											<div class="tbl-cell">
												<button type="button" class="btn-icon">
													<i class="font-icon font-icon-earth"></i>
												</button>
												<button type="button" class="btn-icon">
													<i class="font-icon font-icon-picture"></i>
												</button>
												<button type="button" class="btn-icon">
													<i class="font-icon font-icon-calend"></i>
												</button>
												<button type="button" class="btn-icon">
													<i class="font-icon font-icon-video-fill"></i>
												</button>
											</div>
											<div class="tbl-cell tbl-cell-action">
												<button type="submit" class="btn btn-rounded">Send</button>
											</div>
										</div>
									</div>
								</div>
							</article>

							<article class="box-typical profile-post">
								<div class="profile-post-header">
									<div class="user-card-row">
										<div class="tbl-row">
											<div class="tbl-cell tbl-cell-photo">
												<a href="#">
													<img src="img/photo-64-2.jpg" alt="">
												</a>
											</div>
											<div class="tbl-cell">
												<div class="user-card-row-name"><a href="#">Tim Collins</a></div>
												<div class="color-blue-grey-lighter">3 days ago - 23 min read</div>
											</div>
										</div>
									</div>
									<a href="#" class="shared">
										<i class="font-icon font-icon-share"></i>
									</a>
								</div>
								<div class="profile-post-content">
									<p class="profile-post-content-note">Added 4 new pictures</p>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
									<div class="profile-post-gall-fluid profile-post-gall-grid" data-columns>
										<div class="col">
											<a class="fancybox" rel="gall-1" href="img/gall-img-1.jpg">
												<img src="img/gall-img-1.jpg" alt="">
											</a>
										</div>
										<div class="col">
											<a class="fancybox" rel="gall-1" href="img/gall-img-2.jpg">
												<img src="img/gall-img-2.jpg" alt="">
											</a>
										</div>
										<div class="col">
											<a class="fancybox" rel="gall-1" href="img/gall-img-3.jpg">
												<img src="img/gall-img-3.jpg" alt="">
											</a>
										</div>
										<div class="col">
											<a class="fancybox" rel="gall-1" href="img/gall-img-4.jpg">
												<img src="img/gall-img-4.jpg" alt="">
											</a>
										</div>
										<div class="col">
											<a class="fancybox" rel="gall-1" href="img/gall-img-5.jpg">
												<img src="img/gall-img-5.jpg" alt="">
											</a>
										</div>
										<div class="col">
											<a class="fancybox" rel="gall-1" href="img/gall-img-6.jpg">
												<img src="img/gall-img-6.jpg" alt="">
											</a>
										</div>
									</div>
								</div>
								<div class="box-typical-footer profile-post-meta">
									<a href="#" class="meta-item">
										<i class="font-icon font-icon-heart"></i>
										45 Like
									</a>
									<a href="#" class="meta-item">
										<i class="font-icon font-icon-comment"></i>
										18 Comment
									</a>
								</div>
							</article>

							<article class="box-typical profile-post">
								<div class="profile-post-header">
									<div class="user-card-row">
										<div class="tbl-row">
											<div class="tbl-cell tbl-cell-photo">
												<a href="#">
													<img src="img/photo-64-2.jpg" alt="">
												</a>
											</div>
											<div class="tbl-cell">
												<div class="user-card-row-name"><a href="#">Tim Collins</a></div>
												<div class="color-blue-grey-lighter">3 days ago - 23 min read</div>
											</div>
										</div>
									</div>
									<a href="#" class="shared">
										<i class="font-icon font-icon-share"></i>
									</a>
								</div>
								<div class="profile-post-content">
									<p class="profile-post-content-note">Added a new video</p>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
									<div class="cstm-video-player" style="background-image: url('img/player-photo-b.jpg');">
										<div class="cstm-video-player-hover">
											<i class="font-icon font-icon-play"></i>
										</div>
										<div class="cstm-video-player-controls">
											<div class="cstm-video-player-progress">
												<div class="downloaded" style="width:75%"></div>
												<div class="played" style="width:35%"></div>
											</div>
											<div class="cstm-video-player-controls-left">
												<button type="button" class="cstm-video-player-btn">
													<i class="font-icon font-icon-play"></i>
												</button>
												<button type="button" class="cstm-video-player-btn">
													<i class="font-icon font-icon-player-next"></i>
												</button>
												<button type="button" class="cstm-video-player-btn">
													<i class="font-icon font-icon-player-sound"></i>
												</button>
											</div>
											<div class="cstm-video-player-controls-right">
												<button type="button" class="cstm-video-player-btn">
													<i class="font-icon font-icon-player-subtitres"></i>
												</button>
												<button type="button" class="cstm-video-player-btn">
													<i class="font-icon font-icon-player-settings"></i>
												</button>
												<button type="button" class="cstm-video-player-btn">
													<i class="font-icon font-icon-player-wide-screen"></i>
												</button>
												<button type="button" class="cstm-video-player-btn">
													<i class="font-icon font-icon-player-full-screen"></i>
												</button>
											</div>
										</div>
									</div>
								</div>
								<div class="box-typical-footer profile-post-meta">
									<a href="#" class="meta-item">
										<i class="font-icon font-icon-heart"></i>
										45 Like
									</a>
									<a href="#" class="meta-item">
										<i class="font-icon font-icon-comment"></i>
										18 Comment
									</a>
								</div>
							</article>

							<article class="box-typical profile-post">
								<div class="profile-post-header">
									<div class="user-card-row">
										<div class="tbl-row">
											<div class="tbl-cell tbl-cell-photo">
												<a href="#">
													<img src="img/photo-64-2.jpg" alt="">
												</a>
											</div>
											<div class="tbl-cell">
												<div class="user-card-row-name"><a href="#">Tim Collins</a></div>
												<div class="color-blue-grey-lighter">3 days ago - 23 min read</div>
											</div>
										</div>
									</div>
									<a href="#" class="shared">
										<i class="font-icon font-icon-share"></i>
									</a>
								</div>
								<div class="profile-post-content">
									<p class="profile-post-content-note">Is listening to the Evernote</p>
									<div class="minimalistic-player">
										<div class="tbl minimalistic-player-header">
											<div class="tbl-row">
												<div class="tbl-cell tbl-cell-action">
													<button type="button">
														<i class="font-icon font-icon-play-square"></i>
													</button>
												</div>
												<div class="tbl-cell tbl-cell-action">
													<button type="button">
														<i class="font-icon font-icon-play-prev-square"></i>
													</button>
												</div>
												<div class="tbl-cell tbl-cell-action">
													<button type="button">
														<i class="font-icon font-icon-play-next-square"></i>
													</button>
												</div>
												<div class="tbl-cell tbl-cell-caption">Kylie Minogue  – Slow 2015</div>
												<div class="tbl-cell tbl-cell-time">-04:01</div>
											</div>
										</div>
										<div class="progress">
											<div style="width: 25%"></div>
										</div>
										<div class="progress sound">
											<div style="width: 50%"><div class="handle"></div></div>
										</div>
									</div>
								</div>
								<div class="box-typical-footer profile-post-meta">
									<a href="#" class="meta-item">
										<i class="font-icon font-icon-heart"></i>
										45 Like
									</a>
									<a href="#" class="meta-item">
										<i class="font-icon font-icon-comment"></i>
										18 Comment
									</a>
								</div>
							</article>

							<article class="box-typical profile-post">
								<div class="profile-post-header">
									<div class="user-card-row">
										<div class="tbl-row">
											<div class="tbl-cell tbl-cell-photo">
												<a href="#">
													<img src="img/photo-64-2.jpg" alt="">
												</a>
											</div>
											<div class="tbl-cell">
												<div class="user-card-row-name"><a href="#">Tim Collins</a></div>
												<div class="color-blue-grey-lighter">3 days ago - 23 min read</div>
											</div>
										</div>
									</div>
									<a href="#" class="shared">
										<i class="font-icon font-icon-share"></i>
									</a>
								</div>
								<div class="profile-post-content">
									<p class="profile-post-content-note">Created an album collection</p>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
									<div class="profile-post-gall-fluid profile-post-gall-grid" data-columns>
										<div class="col">
											<a class="fancybox" rel="gall-2" href="img/gall-img-1.jpg">
												<img src="img/gall-img-1.jpg" alt="">
											</a>
										</div>
										<div class="col">
											<a class="fancybox" rel="gall-2" href="img/gall-img-2.jpg">
												<img src="img/gall-img-2.jpg" alt="">
											</a>
										</div>
										<div class="col">
											<a class="fancybox" rel="gall-2" href="img/gall-img-3.jpg">
												<img src="img/gall-img-3.jpg" alt="">
											</a>
										</div>
										<div class="col">
											<a class="fancybox" rel="gall-2" href="img/gall-img-4.jpg">
												<img src="img/gall-img-4.jpg" alt="">
											</a>
										</div>
										<div class="col">
											<a class="fancybox" rel="gall-2" href="img/gall-img-5.jpg">
												<img src="img/gall-img-5.jpg" alt="">
											</a>
										</div>
										<div class="col">
											<a class="fancybox" rel="gall-2" href="img/gall-img-6.jpg">
												<img src="img/gall-img-6.jpg" alt="">
											</a>
										</div>
										<div class="col">
											<a class="fancybox" rel="gall-2" href="img/gall-img-7.jpg">
												<img src="img/gall-img-7.jpg" alt="">
											</a>
										</div>
									</div>
								</div>
								<div class="box-typical-footer profile-post-meta">
									<a href="#" class="meta-item">
										<i class="font-icon font-icon-heart"></i>
										45 Like
									</a>
									<a href="#" class="meta-item">
										<i class="font-icon font-icon-comment"></i>
										18 Comment
									</a>
								</div>
							</article>

							<article class="box-typical profile-post">
								<div class="profile-post-header">
									<div class="user-card-row">
										<div class="tbl-row">
											<div class="tbl-cell tbl-cell-photo">
												<a href="#">
													<img src="img/photo-64-2.jpg" alt="">
												</a>
											</div>
											<div class="tbl-cell">
												<div class="user-card-row-name"><a href="#">Tim Collins</a></div>
												<div class="color-blue-grey-lighter">3 days ago - 23 min read</div>
											</div>
										</div>
									</div>
									<a href="#" class="shared">
										<i class="font-icon font-icon-share"></i>
									</a>
								</div>
								<div class="profile-post-content">
									<p class="profile-post-content-note">Scheduled a meeting whith <a href="#">Elen Adarna</a></p>
									<div class="tbl profile-post-card">
										<div class="tbl-row">
											<div class="tbl-cell tbl-cell-photo">
												<a href="#">
													<img src="img/100x100.jpg" alt="">
												</a>
											</div>
											<div class="tbl-cell">
												<p class="title"><a href="#">Telling Your Kife Story: Memoir Workshop Series</a></p>
												<p>Monday, July 06, 2015 – Thuesday, July 07, 2015</p>
												<p>SF Bay Theater</p>
												<p>San Francisco, California, USA</p>
											</div>
										</div>
									</div>
								</div>
								<div class="box-typical-footer profile-post-meta">
									<a href="#" class="meta-item">
										<i class="font-icon font-icon-heart"></i>
										45 Like
									</a>
									<a href="#" class="meta-item">
										<i class="font-icon font-icon-comment"></i>
										18 Comment
									</a>
								</div>
							</article>
						</div><!--.tab-pane-->

						<!-- about-->
						<div role="tabpanel" class="tab-pane active fade in" id="about">
							<section class="box-typical box-typical-padding">
								
								<br/>
								<h4 class="text-primary">Our Vision</h4>

								<p>Mobius Motors designs, manufactures and sells durable, affordable vehicles for Africa's mass market. We are reimagining the car; designing our vehicles around common road terrain, transport usage and consumer income profiles across the region.</p>
								
								<p>We are not just building vehicles more suited to local demand, but transport platforms that empower local entrepreneurs to run profitable transportation businesses with Mobius vehicles to end-users in their communities. The range of businesses is vast, from public transport, to mobile medical care, to goods delivery - transforming Africa's transport network.</p>

								<br/>
								<h4 class="text-primary">The Problem</h4>

								<p>The majority of roads in rural and peri-urban areas of sub-saharan Africa are degraded. Roads are often cracked and riddled with potholes. Rural roads in particular are invariably uneven, sandy/rocky tracks; making transportation difficult and ultimately restricting mobility.</p>
								
								<p>The most common vehicles across regions like East Africa are imported from more developed countries such as Japan, UAE and India. These vehicles are designed for areas with good road infrastructure - they are not built for an African environment. High import duties also make these vehicles relatively expensive.</p>

								<p>Beyond high purchase prices, running a car in countries like Kenya is also expensive. High maintenance costs as a result of bad roads and inappropriate vehicles have continued to push the cost of owning a car up, locking out entry-level buyers, particularly entrepreneurs who require cost-effective vehicles in order to successfully operate their businesses.</p>

								<br/>
								<h4 class="text-primary">Our Solution</h4>

								<p>To serve the African mass market, we have built a car around the needs of local consumers.</p>
								
								<p>Our vehicles have the key functionality and durability of an off-road car, fit for travelling and carrying goods for long distances on bumpy dirt roads. The price is similar to a seven year old sedan vehicle, which is not designed to operate on degraded terrain reliably, nor carry the heavier loads common among consumers in these areas.</p>
								
								<p>Mobius aims to empower transport entrepreneurs across Africa not just with more appropriate vehicles, but with the financing and business advice needed to operate a sustainable transport business. We are building a platform for mobility.</p>


							</section>
						</div><!--.tab-pane-->

						<!-- Financials-->
						<div role="tabpanel" class="tab-pane" id="team">
							<section class="box-typical box-typical-padding">
								Team
							</section>
						</div><!--.tab-pane-->

						<!-- Financials-->
						<div role="tabpanel" class="tab-pane" id="financials">
							<section class="box-typical box-typical-padding">
								Financials
							</section>
						</div><!--.tab-pane-->


						<!-- Financials-->
						<div role="tabpanel" class="tab-pane" id="dataroom">
							<section class="box-typical box-typical-padding">
								Data Room
							</section>
						</div><!--.tab-pane-->



					</div><!--.tab-content-->
				</section><!--.tabs-section-->
			</div>
		</div><!--.row-->
	</div><!--.container-fluid-->
</div><!--.page-content-->