<header class="page-content-header m-b-0 bg-primary" style="background: #0022cc !important;">
  <div class="container" style="margin-left:100px;">
    <div class="tbl">
      <div class="tbl-row">
        <div class="tbl-cell">
          <h3>
            <span class="text-warning m-r">
              <%= Investment.count %> 
            </span>
            Investments 
          </h3>
        </div>
        <div class="col-xl-12">
          <div class="tbl info-tbl">
            <div class="tbl-row">
              <div class="tbl-cell">
                <%= link_to "http://vestedworld.com/entrepreneur-questionnaire/", class: "btn btn-primary btn-transparent btn-rounded pull-right" do %>
                  Apply for Funding <i class="fa fa-long-arrow-right m-l"></i>
                <% end %>
                <p class="title"><%#= @company.name %></p>
                <p><%#= @company.industry %></p>
              </div>
              <!-- <div class="tbl-cell tbl-cell-stat">
                <div class="inline-block">
                  <p class="title"></p>
                  <p>Syndicated</p>
                </div>
              </div>
              <div class="tbl-cell tbl-cell-stat">
                <div class="inline-block">
                  <p class="title"></p>
                  <p>Diligence</p>
                </div>
              </div>
              <div class="tbl-cell tbl-cell-stat">
                <div class="inline-block">
                  <p class="title"></p>
                  <p>Prospective</p>
                </div>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
