<div class="tab-content">
  <div role="tabpanel" class="tab-pane fade in active" id="companies"> 
    <%= render "users/home/companies" %> 
  </div>
  <div role="tabpanel" class="tab-pane fade" id="investors">
    <%= render "users/home/investors" %> 
  </div>
  <div role="tabpanel" class="tab-pane fade" id="advisors">
    <%= render "users/home/advisors" %> 
  </div>
  <div role="tabpanel" class="tab-pane fade" id="followers"> 
    <%= render "users/home/followers" %> 
  </div>
</div>