<%= render "users/browse/header" %>
<hr class="m-a-0"/>
<div class="container-row bgcolor-light-grey">
  <%= render "users/browse/section_header" %>
  <br/><br/>

  <div class="container" style="margin-left:100px;">
  <%= render "users/browse/users" %>
  </div>
</div>

