<div class="page-content">
	<br/><br/>
	<div class="row">
		<h2 class="text-center">Just a bout done, let's finish your resume.</h2>
		<p class="text-center">We appreciate you taking the time, complete profiles drive better connections.</p>
		<br/><br/><br/>
		<div class="col-xl-4 col-xl-offset-4">
			<section class="steps-numeric-block profile-settings">
				<section class="box-typical profile-settings">
          <section class="box-typical-section">
            <div style="margin-top: -75px;">
              <p class="text-center">
                <%= image_tag("avatar-2-128.png")%>
              </p>
            </div>
            <div class="m-x m-y">
              <!-- <h4 class="bold no-margin">Your Professional Profile</h4>
              <p class="text-muted">Please complete a profile.</p>
              <hr class="no-margin"/>
               -->
          <section class="box-typical box-typical-section m-x m-y" style="border-top: 1px solid #ddd;">
            <h4 class="bold">Venture Experience</h4>
            <header class="box-typical-header-sm">Please add the companies you've started, worked at, advised, etc.</header>
            <div class="form-group row">
              <div class="col-xs-12 col-md-5">
                <label class="form-label">Title/Role</label>
                <input class="form-control" type="text" placeholder="Founder"/>
              </div>
              <div class="col-xs-12 col-md-7">
                <label class="form-label">Company</label>
                <input class="form-control" type="text" placeholder="Impact Ventures"/>
              </div>
            </div>
           	<div class="form-group">
              <label class="form-label">Relevant Keywords (tags)</label>
              <input class="form-control" type="text" placeholder="Accounting, Taxes, International Law"/>
            </div><!-- 
            <div class="form-group">
	            <label class="form-label">What was your role?</label>
	            <textarea class="form-control" rows="5" placeholder="What were you responsible for?"/></textarea>
	          </div> -->
            <br/>
            <div class="well p-x p-y" style="height: 100px; background: #f5f5f5;">
              <h6 class="text-muted">Your Experience</h6>
            </div>
        </section>
        <section class=" box-typical box-typical-section">
          <div class="m-x m-y">
            <h4 class="bold">Investments</h4>
            <header class="box-typical-header-sm">Please add the companies you've invested in.</header>
            <div class="form-group row">
              <header class="box-typical-header-sm"><header class="box-typical-header-sm">
              <div class="col-xs-12 col-md-6">
                <label class="form-label">Company</label>
                <input class="form-control" type="text" value="Company Name"/>
              </div>
              <div class="col-xs-12 col-md-2">
                <label class="form-label">Year</label>
                <input class="form-control" type="text" value="Year"/>
              </div>
              <div class="col-xs-12 col-md-3">
                <label class="form-label">Stage</label>
                <input class="form-control" type="text" value="Stage"/>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-xs-12 col-md-3">
                <label class="form-label">Logo</label>
                <input class="form-control" type="file" value="Series A"/>
              </div>
              <div class="col-xs-12 col-md-4">
                <label class="form-label">Geographic Region</label>
                <input class="form-control" type="text" value="North Africa"/>
              </div>
              <div class="col-xs-12 col-md-5">
                <label class="form-label">Industry</label>
                <input class="form-control" type="text" value="Agriculture"/>
              </div>
            </div>
            <br/>
            <div class="well p-x p-y" style="height: 100px; background: #f5f5f5; border: 1px solid #ddd; border-radius: 6px;">
              <h6 class="text-muted">Your Investments</h6>
            </div>
          </div>
        </section>
        <section class=" box-typical box-typical-section">
          <div class="m-x m-y">
            <h4 class="bold">Projects</h4>
            <header class="box-typical-header-sm">Please add the notable projects you've work on.</header>
            <div class="form-group">
              <label class="form-label">Project Title</label>
              <input class="form-control" type="text" value="Project A"/>
            </div>
            <div class="form-group">
              <label class="form-label">Project Link</label>
              <input class="form-control" type="text" value="http://www.myproject.com"/>
            </div>
            <div class="form-group">
              <label class="form-label">Add Collaborators</label>
              <input class="form-control" type="text" value="Begin typing names"/>
            </div>
            <br/>
            <div class="well p-x p-y" style="height: 100px; background: #f5f5f5;">
              <h6 class="text-muted">Your Projects</h6>
            </div>
          </div>
        </section>
      </section>
        <div class="tbl steps-numeric-footer">
          <div class="tbl-row">
            <%= link_to("Back", user_setup_path, class: "tbl-cell color-blue") %>
            <%= link_to("All set! Let's view your profile →", users_path, class: "tbl-cell color-blue") %>
          </div>
        </div>
      </section>
		</div>
	</div><!--.row-->
</div>

