<div class="page-center">
    <div class="page-center-in">
        <div class="container-fluid">
            <form class="sign-box">
                 <header class="sign-title">
                  <h1>Welcome</h1>
                  Create your free account</header>

                  
                 <hr/>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Company Name"/>
                </div>
                <div class="form-group">
                  <input type="email" class="form-control" placeholder="E-Mail"/>
                </div>
                <div class="form-group">
                  <input type="password" class="form-control" placeholder="Password"/>
                </div>
                <div class="form-group">
                  <input type="password" class="form-control" placeholder="Password Confirmation"/>
                </div>  

                <br/>

                <div class="form-group">
                  <div class="checkbox float-left">
                    <input type="checkbox" id="signed-in"/>

                    <label for="signed-in">
                      I agree to the <a href="#"><u>Terms of Use</u></a>
                      and confirm that I am and accredited Investor.
                    </label>
                  </div>
                </div>

                
                <div class="form-group">
                  <a href="company-onboard" class="btn btn-rounded btn-success sign-up">Continue</a>
                  <p class="sign-note">Already have an account? <a href="sign-in.html">Sign in</a></p>
                <!--<button type="button" class="close">
                    <span aria-hidden="true">&times;</span>
                </button>-->
            </form>
        </div>
    </div>
</div><!--.page-center-->
