<div class="page-center" style="margin-top: 300px;">
  <div class="page-center-in">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-12">
          <section class="widget widget-user card">
            <div class="card-block">
              <div class="widget-user-name">
                <h1>Investors</h1>
              </div>
              <div><h5>Browse available investments.</h5></div>
              <a href="/pages/signup/investor-signup" class="btn btn-lg">
                Begin Investing
              </a>
            </div>
          </section><!--.widget-user-->
        </div>
        <div class="col-md-4 col-sm-12">
          <section class="widget widget-user card">
            <div class="card-block">
              <div class="widget-user-name">
                <h1>Advisors</h1>
              </div>
              <div><h5>Sign up to start Investing</h5></div>
              <a href="/pages/signup/advisor-signup" class="btn btn-lg">
                Guide Entreprenuers
              </a>
            </div>
          </section><!--.widget-user-->
        </div>
        <div class="col-md-4 col-sm-12">
          <section class="widget widget-user card">
            <div class="card-block">
              <div class="widget-user-name">
                <h1>Companies</h1>
              </div>
              <div>
                <h5>Raise money for your startup</h5>
              </div>
              <a href="/pages/signup/company-signup" class="btn btn-lg">
                Raise Capital
              </a>
            </div>
          </section><!--.widget-user-->
        </div>
      </div>
    </div>
  </div>
</div><!--.page-center-->