<div class="page-content">
	<div class="container">
		
		<div class="row">
      <div class="col-sm-12">
      	<h1>Finance Templates</h1>
	      <h5>VestedWorld is, in many ways, a tradition venture capital fund. But we are 100% focused on emergying markets <a href="#">more...</a></h5>
      </div>
    </div>

    <hr/>

    <div class="row">
      <div class="col-sm-12">
      	<h1>Strategy Games</h1>
	      <h5>VestedWorld is, in many ways, a tradition venture capital fund. But we are 100% focused on emergying markets <a href="#">more...</a></h5>
      </div>
    </div>

    <hr/>

    <div class="row">
      <div class="col-sm-12">
        <h1>Market Data</h1>
	      <h5>VestedWorld is, in many ways, a tradition venture capital fund. But we are 100% focused on emergying markets <a href="#">more...</a></h5>
      </div>
    </div>

    <br/><br/><br/><br/>

		<div class="row">
      <div class="col-sm-6">
        <p class="text-center">
        	<a href="startup-signup.html" class="btn btn-lg btn-block">
	          Investor
	        </a>
	      </p>
      </div>
      <div class="col-sm-6">
      	<p class="text-center">
	        <a href="startup-signup.html" class="btn btn-lg btn-block">
	          Founder
	        </a>
	      </p>
      </div>
    </div>
</div><!--.page-content-->




