<p>
  Dear VestedAngel, Thanks for your interest in investing in a VestedWorld portfolio company. This is to notify you that <%= @investment.try(:company).try(:name) %> has been added, this company fits the criteria of investments you have indicated you are interested in. Please follow the <%= link_to "here", company_url(@investment.company) %> here to review the details of the company. Please reach out with any questions or comments you have, you can also provide your comments on the VestedWorld investment platform. Thanks for being a part of the VestedWorld family.
</p>
