<p>
  Dear Founder, Thanks for adding your company details.
  The VestedWorld Administrator will review the information you have provided.
  If you have not completed your profile, please do so to enable a VW admin to review and be in touch shortly.
  Thanks for your interest in being a part of the VestedWorld family.
</p>
