  <div class="page-content">
    <header class="page-content-header">
      <div class="container-fluid">
        <div class="tbl">
          <div class="tbl-row">
            <div class="tbl-cell">
              <h3>Advisors <small class="text-muted">23 candidates</small></h3>
            </div>
            <div class="centered-tab-nav">
              <section class="tabs-section no-margin">
                <div class="tabs-section-nav tabs-section-nav-inline">
                  <ul class="nav" role="tablist">
                    <li class="nav-item">
                      <a class="nav-link" href="/pages/companies">
                        Companies
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/pages/investors" >
                        Investors
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link active" href="/pages/advisors" >
                        Advisors
                      </a>
                    </li>
                  </ul>
                </div><!--.tabs-section-nav-->
              </section>
            </div>
            <div class="tbl-cell tbl-cell-action">
              <a href="#" class="btn btn-rounded">Invite a Company</a>
            </div>
          </div>
        </div>
      </div>
    </header><!--.page-content-header-->

    <div class="container">
      <div class="col-md-4">
        <section class="box-typical">
          <div class="profile-card">
            <div class="profile-card-photo img-rounded">
              <img src="http://www.1triberadio.com/wp-content/uploads/2013/07/Ludwick-Marishane-South-Africa-22.jpg" alt="" class="img-rounded"/>
            </div>
            <div class="profile-card-name h4 no-margin">Sarah Sanchez</div>
            <div class="profile-card-status">Company Founder</div>
            <div class="profile-card-location small">
              Marketplace fan. Strong product and business background, ex-eBay, MS Stanford. Will be your first call when you need it.
            </div>
            <button type="button" class="btn btn-rounded">Follow</button>
            <div class="btn-group">
              <button type="button"
                  class="btn btn-rounded btn-primary-outline dropdown-toggle"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false">
                Connect
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#"><span class="font-icon font-icon-home"></span>Quant and Verbal</a>
                <a class="dropdown-item" href="#"><span class="font-icon font-icon-cart"></span>Real Gmat Test</a>
                <a class="dropdown-item" href="#"><span class="font-icon font-icon-speed"></span>Prep Official App</a>
                <a class="dropdown-item" href="#"><span class="font-icon font-icon-users"></span>CATprer Test</a>
                <a class="dropdown-item" href="#"><span class="font-icon font-icon-comments"></span>Third Party Test</a>
              </div>
            </div>
          </div><!--.profile-card-->

          <div class="profile-statistic tbl">
            <div class="tbl-row">
              <div class="tbl-cell">
                <b>200</b>
                Connections
              </div>
              <div class="tbl-cell">
                <b>1.9M</b>
                Followers
              </div>
            </div>
          </div>

          <ul class="profile-links-list">
            <li>
              <a href="#">Export page as PDF</a>
            </li>
          </ul>
        </section><!--.box-typical-->
      </div>
      <div class="col-md-4">
        <section class="box-typical">
          <div class="profile-card">
            <div class="profile-card-photo img-rounded">
              <img src="http://wp.streetwise.co/wp-content/uploads/2016/02/AAEAAQAAAAAAAAZAAAAAJGQ2ZTZkZmQwLTBlOGQtNDE2MS05OWIzLWE2MzA1MmVlNDAyOA.jpg" alt="" class="img-rounded"/>
            </div>
            <div class="profile-card-name h4 no-margin">Sarah Sanchez</div>
            <div class="profile-card-status">Company Founder</div>
            <div class="profile-card-location small">
              Marketplace fan. Strong product and business background, ex-eBay, MS Stanford. Will be your first call when you need it.
            </div>
            <button type="button" class="btn btn-rounded">Follow</button>
            <div class="btn-group">
              <button type="button"
                  class="btn btn-rounded btn-primary-outline dropdown-toggle"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false">
                Connect
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#"><span class="font-icon font-icon-home"></span>Quant and Verbal</a>
                <a class="dropdown-item" href="#"><span class="font-icon font-icon-cart"></span>Real Gmat Test</a>
                <a class="dropdown-item" href="#"><span class="font-icon font-icon-speed"></span>Prep Official App</a>
                <a class="dropdown-item" href="#"><span class="font-icon font-icon-users"></span>CATprer Test</a>
                <a class="dropdown-item" href="#"><span class="font-icon font-icon-comments"></span>Third Party Test</a>
              </div>
            </div>
          </div><!--.profile-card-->

          <div class="profile-statistic tbl">
            <div class="tbl-row">
              <div class="tbl-cell">
                <b>200</b>
                Connections
              </div>
              <div class="tbl-cell">
                <b>1.9M</b>
                Followers
              </div>
            </div>
          </div>

          <ul class="profile-links-list">
            <li>
              <a href="#">Export page as PDF</a>
            </li>
          </ul>
        </section><!--.box-typical-->
      </div>
      <div class="col-md-4">
        <section class="box-typical">
          <div class="profile-card">
            <div class="profile-card-photo img-rounded">
              <img src="http://static5.businessinsider.com/image/53b1e6646bb3f70e5d037bc3/this-top-investor-reveals-what-hes-learned-over-the-last-10-years.jpg" alt="" class="img-rounded"/>
            </div>
            <div class="profile-card-name h4 no-margin">Sarah Sanchez</div>
            <div class="profile-card-status">Company Founder</div>
            <div class="profile-card-location small">
              Marketplace fan. Strong product and business background, ex-eBay, MS Stanford. Will be your first call when you need it.
            </div>
            <button type="button" class="btn btn-rounded">Follow</button>
            <div class="btn-group">
              <button type="button"
                  class="btn btn-rounded btn-primary-outline dropdown-toggle"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false">
                Connect
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#"><span class="font-icon font-icon-home"></span>Quant and Verbal</a>
                <a class="dropdown-item" href="#"><span class="font-icon font-icon-cart"></span>Real Gmat Test</a>
                <a class="dropdown-item" href="#"><span class="font-icon font-icon-speed"></span>Prep Official App</a>
                <a class="dropdown-item" href="#"><span class="font-icon font-icon-users"></span>CATprer Test</a>
                <a class="dropdown-item" href="#"><span class="font-icon font-icon-comments"></span>Third Party Test</a>
              </div>
            </div>
          </div><!--.profile-card-->

          <div class="profile-statistic tbl">
            <div class="tbl-row">
              <div class="tbl-cell">
                <b>200</b>
                Connections
              </div>
              <div class="tbl-cell">
                <b>1.9M</b>
                Followers
              </div>
            </div>
          </div>

          <ul class="profile-links-list">
            <li>
              <a href="#">Export page as PDF</a>
            </li>
          </ul>
        </section><!--.box-typical-->
      </div>


      <div class="col-md-4">
        <section class="box-typical">
          <div class="profile-card">
            <div class="profile-card-photo img-rounded">
              <img src="http://static.businessinsider.com/image/562de7d2dd0895f1378b46cb/image.jpg" alt="" class="img-rounded"/>
            </div>
            <div class="profile-card-name h4 no-margin">Sarah Sanchez</div>
            <div class="profile-card-status">Company Founder</div>
            <div class="profile-card-location small">
              Marketplace fan. Strong product and business background, ex-eBay, MS Stanford. Will be your first call when you need it.
            </div>
            <button type="button" class="btn btn-rounded">Follow</button>
            <div class="btn-group">
              <button type="button"
                  class="btn btn-rounded btn-primary-outline dropdown-toggle"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false">
                Connect
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#"><span class="font-icon font-icon-home"></span>Quant and Verbal</a>
                <a class="dropdown-item" href="#"><span class="font-icon font-icon-cart"></span>Real Gmat Test</a>
                <a class="dropdown-item" href="#"><span class="font-icon font-icon-speed"></span>Prep Official App</a>
                <a class="dropdown-item" href="#"><span class="font-icon font-icon-users"></span>CATprer Test</a>
                <a class="dropdown-item" href="#"><span class="font-icon font-icon-comments"></span>Third Party Test</a>
              </div>
            </div>
          </div><!--.profile-card-->

          <div class="profile-statistic tbl">
            <div class="tbl-row">
              <div class="tbl-cell">
                <b>200</b>
                Connections
              </div>
              <div class="tbl-cell">
                <b>1.9M</b>
                Followers
              </div>
            </div>
          </div>

          <ul class="profile-links-list">
            <li>
              <a href="#">Export page as PDF</a>
            </li>
          </ul>
        </section><!--.box-typical-->
      </div>
      <div class="col-md-4">
        <section class="box-typical">
          <div class="profile-card">
            <div class="profile-card-photo img-rounded">
              <img src="http://www.businessinsider.in/photo/48117354/The-16-most-interesting-people-who-work-in-Londons-coolest-startup-office/9-Investor-Leila-Rastegar-Zegna.jpg" alt="" class="img-rounded"/>
            </div>
            <div class="profile-card-name h4 no-margin">Sarah Sanchez</div>
            <div class="profile-card-status">Company Founder</div>
            <div class="profile-card-location small">
              Marketplace fan. Strong product and business background, ex-eBay, MS Stanford. Will be your first call when you need it.
            </div>
            <button type="button" class="btn btn-rounded">Follow</button>
            <div class="btn-group">
              <button type="button"
                  class="btn btn-rounded btn-primary-outline dropdown-toggle"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false">
                Connect
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#"><span class="font-icon font-icon-home"></span>Quant and Verbal</a>
                <a class="dropdown-item" href="#"><span class="font-icon font-icon-cart"></span>Real Gmat Test</a>
                <a class="dropdown-item" href="#"><span class="font-icon font-icon-speed"></span>Prep Official App</a>
                <a class="dropdown-item" href="#"><span class="font-icon font-icon-users"></span>CATprer Test</a>
                <a class="dropdown-item" href="#"><span class="font-icon font-icon-comments"></span>Third Party Test</a>
              </div>
            </div>
          </div><!--.profile-card-->

          <div class="profile-statistic tbl">
            <div class="tbl-row">
              <div class="tbl-cell">
                <b>200</b>
                Connections
              </div>
              <div class="tbl-cell">
                <b>1.9M</b>
                Followers
              </div>
            </div>
          </div>

          <ul class="profile-links-list">
            <li>
              <a href="#">Export page as PDF</a>
            </li>
          </ul>
        </section><!--.box-typical-->
      </div>
      <div class="col-md-4">
        <section class="box-typical">
          <div class="profile-card">
            <div class="profile-card-photo img-rounded">
              <img src="https://www.pehub.com/wp-content/uploads/2016/04/Jack-Young.jpg" alt="" class="img-rounded"/>
            </div>
            <div class="profile-card-name h4 no-margin">Sarah Sanchez</div>
            <div class="profile-card-status">Company Founder</div>
            <div class="profile-card-location small">
              Marketplace fan. Strong product and business background, ex-eBay, MS Stanford. Will be your first call when you need it.
            </div>
            <button type="button" class="btn btn-rounded">Follow</button>
            <div class="btn-group">
              <button type="button"
                  class="btn btn-rounded btn-primary-outline dropdown-toggle"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false">
                Connect
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#"><span class="font-icon font-icon-home"></span>Quant and Verbal</a>
                <a class="dropdown-item" href="#"><span class="font-icon font-icon-cart"></span>Real Gmat Test</a>
                <a class="dropdown-item" href="#"><span class="font-icon font-icon-speed"></span>Prep Official App</a>
                <a class="dropdown-item" href="#"><span class="font-icon font-icon-users"></span>CATprer Test</a>
                <a class="dropdown-item" href="#"><span class="font-icon font-icon-comments"></span>Third Party Test</a>
              </div>
            </div>
          </div><!--.profile-card-->

          <div class="profile-statistic tbl">
            <div class="tbl-row">
              <div class="tbl-cell">
                <b>200</b>
                Connections
              </div>
              <div class="tbl-cell">
                <b>1.9M</b>
                Followers
              </div>
            </div>
          </div>

          <ul class="profile-links-list">
            <li>
              <a href="#">Export page as PDF</a>
            </li>
          </ul>
        </section><!--.box-typical-->
      </div>


      
      <div class="col-md-4">
        <section class="box-typical">
          <div class="profile-card">
            <div class="profile-card-photo img-rounded">
              <img src="http://media.bizj.us/view/img/7367562/steve-jurvetson*150xx280-280-0-18.jpg" alt="" class="img-rounded"/>
            </div>
            <div class="profile-card-name h4 no-margin">Sarah Sanchez</div>
            <div class="profile-card-status">Company Founder</div>
            <div class="profile-card-location small">
              Marketplace fan. Strong product and business background, ex-eBay, MS Stanford. Will be your first call when you need it.
            </div>
            <button type="button" class="btn btn-rounded">Follow</button>
            <div class="btn-group">
              <button type="button"
                  class="btn btn-rounded btn-primary-outline dropdown-toggle"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false">
                Connect
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#"><span class="font-icon font-icon-home"></span>Quant and Verbal</a>
                <a class="dropdown-item" href="#"><span class="font-icon font-icon-cart"></span>Real Gmat Test</a>
                <a class="dropdown-item" href="#"><span class="font-icon font-icon-speed"></span>Prep Official App</a>
                <a class="dropdown-item" href="#"><span class="font-icon font-icon-users"></span>CATprer Test</a>
                <a class="dropdown-item" href="#"><span class="font-icon font-icon-comments"></span>Third Party Test</a>
              </div>
            </div>
          </div><!--.profile-card-->

          <div class="profile-statistic tbl">
            <div class="tbl-row">
              <div class="tbl-cell">
                <b>200</b>
                Connections
              </div>
              <div class="tbl-cell">
                <b>1.9M</b>
                Followers
              </div>
            </div>
          </div>

          <ul class="profile-links-list">
            <li>
              <a href="#">Export page as PDF</a>
            </li>
          </ul>
        </section><!--.box-typical-->
      </div>
    </div><!--.container-fluid-->
  </div><!--.page-content-->