<div class="page-content">
	<div class="container">
		
		<h1 class="text-center">We invest to generate returns for founders and investors and create a more equitable and prosperous world.</h1>

		<br/><br/>

		<div class="row">
			<div class="col-lg-10 col-lg-offset-1 col-md-12">
				<h5>VestedWorld is, in many ways, a traditional venture capital fund. But we are 100% focused on emerging markets.</h4>

				<h5>We leverage many resources—a streamlined online investment platform, our deep knowledge and experience in these markets, and our own capital—to create new opportunities for U.S. investors to diversify their portfolios and earn competitive returns while making a transformative impact in developing countries.</h4>

				<h5>With an eye on high-growth industries, we target early stage companies with tremendous potential to create meaningful jobs, provide fair wages and fuel widespread economic progress throughout their communities and regions.</h4>
			</div>
		</div>

		<br/><br/>

		<div class="row">
	      <div class="col-md-4 col-sm-12">
	        <p class="text-center">
	        	<a href="startup-signup.html" class="btn btn-lg btn-block">
		          Investor
		        </a>
		      </p>
	      </div>
	      <div class="col-md-4 col-sm-12">
	      	<p class="text-center">
		        <a href="startup-signup.html" class="btn btn-lg btn-block">
		          Founder
		        </a>
		      </p>
	      </div>
	      <div class="col-md-4 col-sm-12">
	        <p class="text-center">
	        	<a href="startup-signup.html" class="btn btn-lg btn-block">
		          Advisor
		        </a>
		      </p>
	      </div>
	    </div>
	</div><!--.page-content-->




