
<div class="container-row">
  <div class="row">
    <div class="col-md-12">
      
      <!-- Top Nav -->
      <%#= render 'visitors/top_nav' %>

      <!-- Masthead hero -->
      <%= render 'visitors/hero_header' %>

      <hr class="m-a-0"/>

      <!-- Featured -->
      <%= render 'visitors/featured_investments' %>

    </div>
  </div>
</div>

