<section id="investors">
  <h6>VestedAngels and Select Investors</h6>
  
  <div class="row">
    <div class="col-md-4">
      <div class="row">
        <div class="col-md-5">
          <img src="http://www.novare.com/advisors/wp-content/authors/yonela-5.jpg" class="img-responsive img-rounded" style="width: 100%;">
        </div>
        <div class="col-md-7">
          <h6 class="m-a-0">Scott Sudsfdmmit</h6>
          <p class="text-muted">Advisor, CDO of 3DSystems</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="row">
        <div class="col-md-5">
          <img src="http://2016conference.eavca.org/wp-content/uploads/2015/10/16.jpg" class="img-responsive img-rounded" style="width: 100%;">
        </div>
        <div class="col-md-7">
          <h6>Scott Summit</h6>
          <p class="text-muted">Advisor, CDO of 3DSystems</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="row">
        <div class="col-md-5">
          <img src="http://2016conference.eavca.org/wp-content/uploads/2015/10/16.jpg" class="img-responsive img-rounded" style="width: 100%;">
        </div>
        <div class="col-md-7">
          <h6>Scott Summit</h6>
          <p class="text-muted">Advisor, CDO of 3DSystems</p>
        </div>
      </div>
    </div>
  </div>

  <br/>

  <div class="row">
    <div class="col-md-4">
      <div class="row">
        <div class="col-md-5">
          <img src="http://www.novare.com/advisors/wp-content/authors/yonela-5.jpg" class="img-responsive img-rounded" style="width: 100%;">
        </div>
        <div class="col-md-7">
          <h6 class="m-a-0">Scott Sudsfdmmit</h6>
          <p class="text-muted">Advisor, CDO of 3DSystems</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="row">
        <div class="col-md-5">
          <img src="http://2016conference.eavca.org/wp-content/uploads/2015/10/16.jpg" class="img-responsive img-rounded" style="width: 100%;">
        </div>
        <div class="col-md-7">
          <h6>Scott Summit</h6>
          <p class="text-muted">Advisor, CDO of 3DSystems</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="row">
        <div class="col-md-5">
          <img src="http://2016conference.eavca.org/wp-content/uploads/2015/10/16.jpg" class="img-responsive img-rounded" style="width: 100%;">
        </div>
        <div class="col-md-7">
          <h6>Scott Summit</h6>
          <p class="text-muted">Advisor, CDO of 3DSystems</p>
        </div>
      </div>
    </div>
  </div>
</section>
