<section id="overview">
  <h6>the opportunity</h6>

  <div class="form-group">
    <label class="form-label">Our Vision <small>Copy and Paste Link</small></label>
    <%= f.text_area :vision, rows: "5", class: 'form-control', placeholder: "" %>
  </div>

  <br/>

  <div class="form-group">
    <label class="form-label">The Problem <small>Copy and Paste Link</small></label>
    <%= f.text_area :problem, rows: "5", class: 'form-control', placeholder: "" %>
  </div>

  <br/>

  <div class="form-group">
    <label class="form-label">Our Solution <small>Copy and Paste Link</small></label>
    <%= f.text_area :solution, rows: "5", class: 'form-control', placeholder: "" %>
  </div>

  <br/>

  <div class="form-group">
    <label class="form-label">Impact <small>Copy and Paste Link</small></label>
    <%= f.text_area :impact, rows: "5", class: 'form-control', placeholder: "" %>
  </div>
  

</section>
