<section id="overview">
  <h6>the opportunity</h6>

  <div class="form-group">
  	<label class="form-label">Description <small>Copy and Paste Link</small></label>
		<%= f.text_area :description, class: 'form-control', placeholder: "", rows: "5" %>
	</div>

	<br/>

	<div class="form-group">
		<label class="form-label">Investment Readiness <small>Copy and Paste Link</small></label>
		<%= f.text_area :readiness, class: 'form-control', placeholder: "", rows: "5" %>
	</div>

	<br/>

	<div class="form-group">
		<label class="form-label">Growth Projections <small>Copy and Paste Link</small></label>
		<%= f.text_area :growth_projections, class: 'form-control', placeholder: "", rows: "5" %>
	</div>
</section>


