 <section id="team">
  <h6>THE FOUNDING TEAM</h6>

  <div class="row">
    <div class="col-md-2">
      <img src="http://marnusbroodryk.com/wp-content/uploads/2013/02/Ludwick_Marishane.jpg" class="img-responsive img-circle" style="width: 100%;">
    </div>
    <div class="col-md-10">
      <h5 class="name-title">Kwami Williams</h5>
      <h6 class="m-a-0">Chief technology officer</h5>
      <br/>

      <p>Kwami was born and raised in Ghana and immigrated to the United States when he was eight
      years old. During his sophomore year at MIT, Kwami returned to Ghana for a service trip that
      opened his eyes to the level of poverty in his native country and spurred him to start
      thinking about things he could do to address it. After graduating from MIT in 2012 with a
      degree in Aerospace Engineering and a concentration in Global Development, Kwami turned
      down an offer to join NASA and instead founded MoringaConnect</p>
    </div>
  </div>

  <hr/>

  <div class="row">
    <div class="col-md-2">
      <img src="http://marnusbroodryk.com/wp-content/uploads/2013/02/Vinny_Lingham.jpg" class="img-responsive img-circle" style="width: 100%;">
    </div>
    <div class="col-md-10">
      <h4 class="name-title">Kwami Williams</h4>
      <h6 class="m-a-0">Chief technology officer</h5>
      <br/>
      <p>
        Emily was born and raised in Massachusetts and has over ten years of experience bridging
        the gap between public, private, and social sectors through creative partnerships, advocacy, fundraising, and startup marketing and development. Emily first discovered the vast potential of agriculture and the lack of capital available to farmers while working in microfinance and enterprise development at SEWA Bank in rural India. Emily met Kwami at MIT when they co-designed the Gates Foundation Award-winning multi-crop thresher and the moringa oil processing technologies that spawned the idea for MoringaConnect.
      </p>
      <p>
        Today, Emily splits her time between the U.S. and Ghana and focuses on demand-side initiatives including branding, marketing, sales, distribution, business development and building and formulating the award-winning True Moringa brand. 
      </p>
    </div>
  </div>

  <hr/>

  <div class="row">
    <div class="col-md-2">
      <img src="https://upload.wikimedia.org/wikipedia/commons/6/60/Masaba_Yunus_at_the_Entrepreneurs_meet_and_greet_2014.jpg" class="img-responsive img-circle" style="width: 100%;">
    </div>
    <div class="col-md-10">
      <h5 class="name-title">Kwami Williams</h5>
      <h6 class="m-a-0">Chief technology officer</h5>
      <br/>
      <p>
        Emily was born and raised in Massachusetts and has over ten years of experience bridging
        the gap between public, private, and social sectors through creative partnerships, advocacy, fundraising, and startup marketing and development. Emily first discovered the vast potential of agriculture and the lack of capital available to farmers while working in microfinance and enterprise development at SEWA Bank in rural India. Emily met Kwami at MIT when they co-designed the Gates Foundation Award-winning multi-crop thresher and the moringa oil processing technologies that spawned the idea for MoringaConnect.
      </p>
      <p>
        Today, Emily splits her time between the U.S. and Ghana and focuses on demand-side initiatives including branding, marketing, sales, distribution, business development and building and formulating the award-winning True Moringa brand. 
      </p>
    </div>
  </div>
</section>
