<label class="form-label">Graduate Degree<span class="text-muted">Add your degree below.</span></label>
<div class="row">
  <div class="col-sm-6">
    <div class="form-group">
      <%= f.text_field :graduate_school, class: 'form-control', placeholder: "College or University" %>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="form-group">
      <%= f.text_field :graduate_major, class: 'form-control', placeholder: "Major" %>
    </div>
  </div>

  <div class="col-sm-2">
    <div class="form-group">
      <%= f.text_field :undergrad_graduation_year, class: 'form-control', placeholder: "year" %>
    </div>
  </div>
</div>
