<!-- <p>
  <strong>Interest 1:</strong>
  <%#= f.text_field :interest_1, class: 'form-control', placeholder: "interest_1" %>
</p>

<p>
  <strong>Interest 2:</strong>
  <%#= f.text_field :interest_2, class: 'form-control', placeholder: "interest_2" %>
</p>

<p>
  <strong>Interest 3:</strong>
  <%#= f.text_field :interest_3, class: 'form-control', placeholder: "interest_3" %>
</p> -->