<div class="row">
	<div class="col-sm-12">
	  <div class="form-group">
	    <h6>angelist_url</h6>
	    <%= f.text_field :angelist_url, class: 'form-control', placeholder: "" %>
	  </div>
	</div>
	</div>
	<div class="row">
	<div class="col-sm-12">
	  <div class="form-group">
	    <h6>twitter_url</h6>
	    <%= f.text_field :twitter_url, class: 'form-control', placeholder: "" %>
	  </div>
	</div>
	</div>
	<div class="row">
	<div class="col-sm-12">
	  <div class="form-group">
	    <h6>facebook_url</h6>
	    <%= f.text_field :facebook_url, class: 'form-control', placeholder: "" %>
	  </div>
	</div>
	</div>
	<div class="row">
	<div class="col-sm-12">
	  <div class="form-group">
	    <h6>linkedin_url</h6>
	    <%= f.text_field :linkedin_url, class: 'form-control', placeholder: "" %>
	  </div>
	</div>
</div>