<section id="nav-overview">
  <h6>the opportunity</h6>

  <article id="nav-problem">
    <h6>Our Vision</h6>
    <p><%= @company.vision %></p>
  </article>

  <article id="nav-solution">
    <h6>The Problem</h6>
    <p><%= @company.problem %></p>
  </article>

  <article id="nav-impact">
    <h6>Our Solution</h6>
    <p><%= @company.solution %></p>
  </article>

</section/>
