<style type="text/css">
.whatever{ 
background: url(<%= image_url("public-bg.jpg")%>) no-repeat center center fixed; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}
</style>

<div class="container-row whatever">
  <div class="row">
    <div class="col-md-12">
      
      <!-- Masthead hero -->
      <div class="container p-y-lg mobile-center" style="padding: 50px 0 100px 0;">
  			<div class="row">
			    <div class="col-md-10 col-sm-12">
			      <h1 class="cover-heading hero m-n text-white" style="font-size: 60px; line-height: 1.2;">VestedWorld is an emerging markets venture capital platform.</h1>

			  		<p class="lead text-white" style="font-size: 24px; line-height: 1.2;">
			      	VestedAngels are qualified investors who use our online platform to find and invest in the most promising early-stage companies in emerging markets.
			      </p>
			    </div>
			  </div>
		      <br/><br/><br/><br/>
	      <div class="row">
		  	  <div class="col-md-12 col-sm-12">
  	  	   <div class="col-md-3">
			    	<h1 class="text-white text-center bold ls_1">1. <small>WE INVEST</small></h1>
			    	<%= image_tag("grow-investment.png", class: "img-responsive")%>
			    	<p>Our strength is in our numbers. The larger our community, the deeper our impact.</p>
			    </div>
			    <div class="col-md-3">
			    	<h5 class="text-white text-center bold ls_1">1. WE Impact</h5>
			    	<%= image_tag("recycle.png", class: "img-responsive")%>
			    	<p>Our strength is in our numbers. The larger our community, the deeper our impact.</p>
			    </div>
			    <div class="col-md-3">
			    	<h5 class="text-white text-center bold ls_1">1. WE INVEST</h5>
			    	<%= image_tag("grow-investment.png", class: "img-responsive")%>
			    	<p>Our strength is in our numbers. The larger our community, the deeper our impact.</p></div>
			  </div>
	    </div>
	  </div>
		<hr/>
		<div class="container-row bgcolor-white p-a">
			<div class="container">
				<iframe src="https://player.vimeo.com/video/173590458" width="940" height="530" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
			  


			<%#= link_to "What is Impact Investing ?", "http://vestedworld.com/about-us/", class: "btn btn-rounded btn-block btn-default pull-right", target: "_blank", style: "background: transparent; " %>

      <!-- Featured -->
      <%#	= render 'visitors/featured_investments' %>

    </div>
  </div>
</div>

