<div class="container">
	<div class="col-md-12">
		<h2 class="faq-hd">PRIVATE POLICIES</h2>
	</div>
</div>
<div class="container">
	<div class="main-div-bx">
		<div class="col-md-6">
			<a class="" role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
			  Overview 
			</a> 
		</div>	
		<div class="col-md-6">
			<div class="collapse" id="collapseExample">
			  <div class="rt-content">
			    <p> VestedWorld takes your privacy seriously, and is committed to protecting your information. This Privacy Policy describes VestedWorld’s policies and procedures for the collection, use, and disclosure of your information. VestedWorld will not use or share your information except as described in this Privacy Policy or the Terms of Service.
			    </p>
			  </div>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>

	<div class="main-div-bx">
		<div class="col-md-6">
			<a class="" role="button" data-toggle="collapse" href="#collapseExample1" aria-expanded="false" aria-controls="collapseExample">
			  Information VestedWorld Collects 
			</a> 
		</div>	
		<div class="col-md-6">
			<div class="collapse" id="collapseExample1">
			  <div class="rt-content">
			    <p> <h4>User-Provided Information:</h4>  You provide VestedWorld with personal information including, but not limited to, your name; e-mail address; phone number; address; date of birth; Social Security number; bank account and routing information; annual salary and/or earnings; assets; and investment interests (including geographic and industry preferences). By voluntarily providing this information (“Personal Information”), you consent to VestedWorld’s use of the information in accordance with the terms of this Privacy Policy, VestedWorld’s Terms of Service, and any other agreement between you and VestedWorld.</p>
				<p><h4>Other Information Collected by VestedWorld: </h4>VestedWorld, like most websites, automatically gathers certain usage information. This information (“Non-Identifiable Information”) may include, but is not limited to, browser type, Internet Protocol addresses, referring websites, internet service provider, and date/time information. This information will be collected and stored in a way that cannot identify you personally.</p>

				<p>VestedWorld also uses cookies to help our site function efficiently. We recommend that you leave this function turned on, but you may disable cookies in your browser settings. Please note that cookies used by other companies, including those funded through VestedWorld, are not covered by this Privacy Policy.
			    </p>
			  </div>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>

	<div class="main-div-bx">
		<div class="col-md-6">
			<a class="" role="button" data-toggle="collapse" href="#collapseExample2" aria-expanded="false" aria-controls="collapseExample">
			  Use of User Information   
			</a> 
		</div>	
		<div class="col-md-6">
			<div class="collapse" id="collapseExample2">
			  <div class="rt-content">
			    <p> Your information is private. VestedWorld will never sell or give away your Personal Information or Non-Identifiable Information to third parties, except as governed by this Privacy Policy or as required by law.
			    </p>
			  </div>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>

	<div class="main-div-bx">
		<div class="col-md-6">
			<a class="" role="button" data-toggle="collapse" href="#collapseExample3" aria-expanded="false" aria-controls="collapseExample">
			  Uses    
			</a> 
		</div>	
		<div class="col-md-6">
			<div class="collapse" id="collapseExample3">
			  <div class="rt-content">
			    <p> VestedWorld may use your Personal Information and Non-Identifiable Information as necessary to provide our service (including without limitation any consulting services that VestedWorld may provide to our partner companies); analyze the usage of our service and website; improve our website, service, and product offerings; evaluate and solve technical problems; and to comply with legal obligations. VestedWorld may also obtain information about you from third party sources to verify your identity, prevent fraud, and maintain the security of our service.</p>

				<p>VestedWorld and companies funded through VestedWorld may also use your Personal Information to contact you regarding your eligibility to invest through VestedWorld, investment opportunities available through VestedWorld, and other matters related to the operation of VestedWorld.
			    </p>
			  </div>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>

	<div class="main-div-bx">
		<div class="col-md-6">
			<a class="" role="button" data-toggle="collapse" href="#collapseExample4" aria-expanded="false" aria-controls="collapseExample">
			  Sharing
			</a> 
		</div>	
		<div class="col-md-6">
			<div class="collapse" id="collapseExample4">
			  <div class="rt-content">
			    <p> <h4>Personal Information:</h4>  VestedWorld may share your Personal Information with third parties, including companies funded through VestedWorld and third-party contractors hired to perform a function related to VestedWorld’s business, if deemed necessary to provide our service. Your information will not be shared or sold by third-party contractors. VestedWorld may store your Personal Information in locations or on servers outside the direct control of VestedWorld. In the event that VestedWorld merges with or is acquired by another entity, your Personal Information may be transferred. In the event of such a transfer, VestedWorld will notify you via the e-mail address you have provided.</p>

				<p><h4>Non-Identifiable Information: </h4> VestedWorld may share aggregated and anonymized Non-Identifiable Information: (i) to describe VestedWorld’s service to current and prospective business partners, (ii) with third parties for research and analysis, or to facilitate a function of VestedWorld’s business; or (iii) with interested third parties for any lawful purpose, including compliance with legal obligations.
			    </p>
			  </div>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>


	<div class="main-div-bx">
		<div class="col-md-6">
			<a class="" role="button" data-toggle="collapse" href="#collapseExample5" aria-expanded="false" aria-controls="collapseExample">
			  Changing Your Personal Information
			</a> 
		</div>	
		<div class="col-md-6">
			<div class="collapse" id="collapseExample5">
			  <div class="rt-content">
			    <p> You may change your personal information, including your contact information, through your account page, which is provided on the VestedWorld website.
			    </p>
			  </div>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>


	<div class="main-div-bx">
		<div class="col-md-6">
			<a class="" role="button" data-toggle="collapse" href="#collapseExample6" aria-expanded="false" aria-controls="collapseExample">
			  Security
			</a> 
		</div>	
		<div class="col-md-6">
			<div class="collapse" id="collapseExample6">
			  <div class="rt-content">
			    <p> VestedWorld is committed to ensuring that your Personal Information is secure. However, no method of online transmission or information storage is perfect, and VestedWorld cannot guarantee absolute security. If you have any questions about security, please contact VestedWorld at security@vestedworld.com. 
			    </p>
			  </div>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>

	<div class="main-div-bx">
		<div class="col-md-6">
			<a class="" role="button" data-toggle="collapse" href="#collapseExample7" aria-expanded="false" aria-controls="collapseExample">
			  Exclusions
			</a> 
		</div>	
		<div class="col-md-6">
			<div class="collapse" id="collapseExample7">
			  <div class="rt-content">
			    <p> 
			    This Privacy Policy does not protect any personal information you voluntarily give to third parties, including companies you invest in through VestedWorld. This Privacy Policy does not protect any information you voluntarily share on VestedWorld’s blog or social media pages.
			    </p>
			  </div>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
	<div class="main-div-bx">
		<div class="col-md-6">
			<a class="" role="button" data-toggle="collapse" href="#collapseExample9" aria-expanded="false" aria-controls="collapseExample">
			  Other Conditions; Changes
			</a> 
		</div>	
		<div class="col-md-6">
			<div class="collapse" id="collapseExample9">
			  <div class="rt-content">
			    <p>
			    	Your use of VestedWorld’s Service and web site is subject to the Terms of Service. The Terms of Service are available [here/at website]. VestedWorld may update this Privacy Policy in its discretion. If changes are made, they will be posted to this page, so we encourage you to check this Policy regularly. Changes to this Policy are effective when posted to this page.
			    </p>
			  </div>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>


	<div class="main-div-bx">
		<div class="col-md-6">
			<a class="" role="button" data-toggle="collapse" href="#collapseExample10" aria-expanded="false" aria-controls="collapseExample">
			 Contact
			</a> 
		</div>	
		<div class="col-md-6">
			<div class="collapse" id="collapseExample10">
			  <div class="rt-content">
			    <p>
			    	Please contact VestedWorld with any questions about the Privacy Policy at info@vestedworld.com.
			    </p>
			  </div>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
</div>

<style type="text/css">	
.main-div-bx {
	border-top:1px solid #ddd;
	border-bottom:1px solid #ddd;
	padding-top: 20px;
	padding-bottom: 20px;

}
.main-div-bx a {
	font-size: 30px;
	color:#191EFF;
	text-decoration: underline;
}
.main-div-bx a:hover {
	font-size: 30px;
	color:#191EFF;
	text-decoration: underline;
}
h2.faq-hd {
	font-size:36px;
	color:#191EFF;
}
.rt-content p {
    font-size: 18px;
    line-height: 30px;
}
</style>