<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <p class="m-a-0">
      <%= image_tag("white-mark.png", style: "height: 80px; width: auto;")%>
      <%= image_tag("white-type.png", style: "width: 160px; margin-left: -20px;")%>
    </p>
    <br/>
    <br/>
  </div>
</div>